# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.cache
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# mkdocs documentation
/site

# IDEs project files
.idea
.vscode